.home-hero,
.about-hero {
  display: block;
  margin: 0 auto;
  max-width: 2000px;
}

.home-hero__subtitle {
  color: $deep-blue;
  @include set-font(secondary);
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

.home-hero__large {
  font-size: 100px;
  line-height: 1;
  @media screen and (max-width: $tablet-lg){
    font-size: 65px;
  }
  @media screen and (max-width: $screen-sm){
    font-size: 70px;
  }
}

.home-hero__small {
  @include set-font(secondary);
  font-size: 24px;
  font-weight: 700;
  text-transform: lowercase;
}

.home-hero__img {
  position: absolute;
  max-width: 75%;
  right: 0;
  top: 0;
}

.home-hero__devices {
  margin-left: -100px;
  margin-top: -75px;
  @media screen and (max-width: $tablet-lg){
    margin-left: 0;
    margin-top: 0;
  }
  @media screen and (max-width: $screen-sm){
    max-width: 300px;
    margin-top: 35px;
  }
}

.about-hero {
  padding-bottom: 200px;
}

.about-hero__screen {
  position: absolute;
  right: -120px;
  top: 30px;
  width: 100%;
  @media screen and (max-width: $tablet-lg){
    top: 100px;
  }
  @media screen and (max-width: $screen-sm){
    position: relative;
  }
}

.about-hero__text {
  padding: 25vh 0 0 100px;
  @media screen and (min-width: 1700px){
    padding: 25vh 75px 0 100px;
  }
  @media screen and (max-width: $tablet-lg){
    padding: 100px 0 50px 50px;
  }
  @media screen and (max-width: $screen-sm){
    padding: 50px 0 50px 50px;
  }
  .hero-lead {
    padding: 40px 0;
  }
}

.hiw-hero__text {
  height: 100vh;
  padding: 25vh 0 0 100px;
  @media screen and (min-width: 1700px){
    padding: 25vh 75px 0 100px;
  }
  @media screen and (max-width: 900px){
    padding: 50px 0 50px 50px;
  }
  @media screen and (max-width: $screen-sm){
    padding: 50px 0 50px 50px;
  }
  .hero-lead {
    max-width: 300px;
    padding: 40px 0;
    @media screen and (max-width: 900px){
      padding: 20px 0 30px;
    }
  }
}

.hiw-hero__device-container {
  @media screen and (max-width: $screen-sm){
    display: none;
  }
}

.hiw-hero__devices {
  position: absolute;
  top: 125px;
  z-index: 2;
  padding-right: 100px;
  @media screen and (max-width: $tablet-lg){
    padding: 0 50px;
  }
}

.hiw-hero__blue {
  margin-right: -100px;
  right: -30px;
  position: absolute;
}
