.leadership-container {
  margin: 0;
  &:hover {
  }
  @media screen and (max-width: $screen-sm){
    margin: 0 0 50px 0;
    max-width: 500px;
  }
}

.leadership__description {
  padding: 40px 0;
  h3 {
    margin-bottom: 25px;
  }
}

.leadership__bio {
  border-left: 7px solid $yellow;
  padding: 0 0 0 25px;
  margin: 0 0 50px 0;
  @media screen and (max-width: $screen-sm){
    margin-bottom: 0;
  }
}

.leadership__link {
  position: absolute;
  left: -28px;
  top: 43px;
  @media screen and (max-width: $tablet-lg) {
    display: none;
  }
}

.marty {
  .leadership__link {
    left: -73px;
    top: 89px;
    @media screen and (max-width: $tablet-lg) {
      display: none;
    }
  }
  .leadership__social{
    left: 88px;
    top: 150px;
    @media screen and (max-width: $tablet-lg) {
      display: none;
    }
  }
}

.leadership__social {
  background: $white;
  font-size: 35px;
  left: 43px;
  line-height: 1;
  padding: 10px 20px 20px 21px;
  position: absolute;
  top: 100px;
  @media screen and (max-width: $tablet-lg) {
    display: none;
  }
}

.linkedin {
  color: $throwback-blue;
}

.leadership__position {
  background: $throwback-blue;
  color: $white;
  padding: 20px;
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.leadership__position {
  @include set-font(primary, black);
  font-size: 15px;
  @media screen and (max-width: $tablet-lg){
    font-size: 12px;
  }
  @media screen and (max-width: $screen-sm){
    font-size: 14px;
    text-align: center;
  }
}
