.more-case-studies {
  padding: 215px 100px;
}

.more-case-studies__title {
  margin-bottom: 60px;
}

.more-case-studies__item {
  font-size: 14px;
}

.more-case-studies__content {
  min-height: 317px;
}

.case-study-content__title {
  color: $charcoal;
}

.case-study-content__link {
  color: $blue;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding-top: 70%;
}

.more-case-studies__block {
  margin: 15px 0;
  background: $blue;
  &:hover {
    img {
      opacity: 0;
    }
  }
  img {
    z-index: 100;
    top: 0;
    left: 0;
    /* opacity: .7; */
    position: relative;
    transition: .5s ease;
  }
  h3 {
    color: $white;
    position: absolute;
    z-index: 1;
    top: 35px;
    left: 35px;
  }
  p {
    color: $white;
    position: absolute;
    z-index: 1;
    left: 35px;
    bottom: 15px;
  }
}
