.statistics {
  background: $dust;
  margin-top: 100px;
  padding: 100px 0;
  @media screen and (max-width: 1000px){
    padding: 100px 25px;
  }
}

.statistics__title {
  padding-bottom: 50px;
}

.statistics__number {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 75px;
}

.statistics__label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
}
