.tool-summary {
  padding: 0 100px;
  @media screen and (max-width: 768px){
    background: $dust;
    padding: 75px 50px 50px;
  }
}

.tool-summary__title {
  @media screen and (max-width: 768px){
    padding: 50px 0 0;
  }
}

.tool-summary__list {
  font-family: 'Cairo', sans-serif;
  line-height: 2em;
  list-style-type: square;
  padding: 25px 0 25px 20px;
}

.testimonial-block {
  padding: 200px 0;
  @media screen and (max-width: 768px){
    padding: 100px 50px;
  }
}
